<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="msg">
    <div>{{msg}}</div>
    <div v-for="(item,index) in list" :key="index" @click="remove(index)">
      <test></test>
    </div>
    <button @click="reverse">改变顺序</button>
  </div>
  <script src="../node_modules/vue/dist/vue.min.js"></script>
  <script>
    var num = 1;
    let vm = new Vue({
      el:'#app',
      data:{
        msg:'hello world',
        list:['a','b','c']
      },
      methods:{
        remove(index) {
          this.list.splice(index,1)
        },
        reverse(){
          this.list.reverse()
        }
      },
      components:{
        test:{
          data:{
            num:1
          },
          template:`<span>{{Math.random()}}</span>`
        }
      }
    })
    /*
      1) compile 模板的编译
      2) observer数据的劫持(观察数据变化)
      3) watcher 观察者 
    */
  </script>
</body>
</html>